[Desktop Entry]
Type=Application
Name=Tsukihime
Path=/home/nalsai/Apps/tsukihime
Exec=/home/nalsai/Apps/tsukihime/onscripter-en -s ./
Icon=/home/nalsai/Apps/tsukihime/icon.png
Categories=Game
