[core]
	autocrlf = false
	editor = flatpak run --file-forwarding re.sonny.Commit @@
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[user]
	name = Nils Fürniß
	email = contact@nalsai.de
	signingKey = 79CB1318699409FF
[credential]
	helper = manager
