[core]
	editor = code --wait
	autocrlf = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[user]
	name = Nils Fürniß
	email = contact@nalsai.de
	signingKey = 79CB1318699409FF
[credential]
	helper = manager
